{% extends "gestor/base.html" %}

{% block content %}
<h3>Cargar productos al pedido</h3>
<br></br>
<li>nº pedido: {{ ultimo.id }}</li>
<li>Cliente: {{ ultimo.cliente }}</li>

<br></br>
<form method="POST" class="post-form">{% csrf_token %}

    <tr>
        <th>{{ form.id_pedido.label}}</th>
        <td>{{ form.id_pedido }}</td>
        <th>{{ form.producto.label}}</th>
        <td>{{ form.producto }}</td>
        <th>{{ form.cantidad.label}}</th>
        <td>{{ form.cantidad }}</td>
    </tr>

    <button type="submit" class="save btn btn-default">Cargar</button>
</form>


<br></br>
<table id="productors_pedido" class="table table-striped">
    <thead>
        <tr>
            <td>Cantidad</td>
            <td>Producto</td>
        </tr>
    </thead>
    <tbody>
       

        {% for pedido in lista_actual %}          
            <tr>
                <td>{{ pedido.cantidad }}</td>
                <td>{{ pedido.producto_id }}</td>      
                <td><a href="/editar_pedidos/{{ pedido.id }}">Modificar</a></td>
                <td><a href="/eliminar_de_pedido/{{ pedido.id }}/{{ ultimo.id }}">Eliminar</a></td>
            </tr>
        {% endfor %}
        
    </tbody>

</table>

<a href="/modificar_pedidos/">Cerrar pedido<a></a>

<br></br>
<a href="/pedido_eliminar/{{ ultimo.id }}">Cancelar</a>
<br></br>
<a href="/">Inicio</a>
{% endblock %}