{% extends "gestor/base.html" %}

{% block content %}
<h3>Gestión de Insumos</h3>
<h4>Insumos Cargados</h4>

<table id="cartera" class="table table-striped">
    <thead>
        <tr>
            <td>Insumo</td>
            <td>Stock</td>
            <td>Fecha carga</td>
            <td>Fecha modificado</td>
        </tr>
    </thead>
    <tbody>
        
        {% for insumo in insumos %}
            <tr>
            <td>{{ insumo.nombre }}</td>
            <td>{{ insumo.stock }}</td>
            <td>{{ insumo.created|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ insumo.modified|date:"SHORT_DATE_FORMAT" }}</td>
            <td><a href="/insumos_editar/{{ insumo.id }}">Modificar</a></td>
            <td><a href="/insumos_eliminar/{{ insumo.id }}">Eliminar</a></td>
            </tr>
        {% endfor %}
        
    </tbody>

</table>

<nav>

    <h4>Modificar insumo:</h4>


    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light'>
            {% for field in form_e %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-lg btn-warning">Guardar</button>
    </form>



</nav>

<a href="/">Inicio<a></a>
{% endblock %}