{% extends "gestor/base.html" %}

{% block content %}
<h3>Modificar pedido pendiente</h3>

<table id="pedidos_pendientes" class="table">
    <thead>
        <tr>
            <td>nº</td>
            <td>Cliente</td>
            <td>Estado</td>
            <td>Entregado</td>
            <td>Pagado</td>
            <td>Fecha carga</td>
            <td>Fecha modificado</td>
        </tr>
    </thead>
    <tbody>
        
        {% for pedido in pedidos %}
            {% if pedido.estado == "Pendiente" %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.cliente }}</td>
                    <td>{{ pedido.estado }}</td>
                    <td>{{ pedido.entregado }}</td>
                    <td>{{ pedido.pagado }}</td>
                    <td>{{ pedido.created|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ pedido.modified|date:"SHORT_DATE_FORMAT" }}</td>
                    <td><a href="/detalle_pedidos/{{ pedido.id }}">Detalles</a></td>
                    <td><a href="/pedido_entregado/{{ pedido.id }}">Entregado</a></td>
                    <td><a href="/pedido_pagado/{{ pedido.id }}">Pagado</a></td>
                    <td><a href="/pedido_completado/{{ pedido.id }}">Competado</a></td>
                    <td><a href="/pedido_cancelado/{{ pedido.id }}">Cancelado</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        
    </tbody>

</table>

<br></br>
<a href="/gestion_pedidos/">Volver<a></a>
<br></br>
<a href="/">Inicio<a></a>
{% endblock %}